body {
margin: 10%;
}

h1, h2 {
  font-size: 20px;
  text-align: center;
}

.actu {
  border-bottom: 10px solid;
 }

 /* 1ere ligne */
.sides {
    display: flex;
    justify-content: space-around;
    width : 100%;
}

.sidea, .sideb, .sidec {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 22%;

}

img {
 width: 200px;
 height: 180px;
}

/* 2eme ligne */
.populaire2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width : 100%;
}

.art1, .art2, .art3, .art4, .art5, .art6 {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
width: 40%;

}

.populaire2 > img {
width: 400px;
height: 180px;
}